
//COLOR NEUTRAL

$Dark_Mode_Elements : hsl(209, 23%, 22%);
$Dark_Mode_Background: hsl(207, 26%, 17%);
$Light_Mode_Text: hsl(200, 15%, 8%);
$Light_Mode_Input: hsl(0, 0%, 52%);
$Light_Mode_Background: hsl(0, 0%, 98%);
$Dark_Mode_Text_e_Light_Mode_Elements: hsl(0, 0%, 100%);
