
@media only screen and (max-height: 900px) and (max-width: 2000px){
    .Countrys{
        row-gap: 10vh;
    }
}

@media only screen and (max-height: 800px) and (max-width: 2000px){
    .Countrys{
        row-gap: 15vh;
    }
}

@media only screen and (max-height: 735px) and (max-width: 2000px){
    .Countrys{
        row-gap: 20vh;
    }
}

@media only screen and (max-height: 650px) and (max-width: 2000px){
    .Countrys{
        row-gap: 25vh;
    }
}



@media only screen and (max-height: 800px) and (max-width: 400px){
    
    .Countrys{
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        .country{
            &__container{
                width: 77.5%;
            }
        }
    }
}



@media only screen and (max-height: 700px) and (max-width: 400px){
    
    .Countrys{
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        row-gap: 20vh;

        .country{

            &__container{
                width: 77.5%;
            }
        }
    }
}
