

@media only screen and (max-width: 750px){
    .Search{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        min-height: 18vh;
        margin-left: 2rem;
        margin-top: .75rem;
        margin-bottom: 1.25rem;


        &__text{
            width: 80%;
            margin: 0;
        }
    }
}